/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
*,::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'poppins', sans-serif;
  align-items: center;
}
.layout-container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-content {
  background-color: rgba(0, 0, 0, 0.7);
  height: 120px;
  width: 100%;
}
.hero-section {
  background: url(./img/foodbackground.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.logo img {
  width: 100px;
  cursor: pointer;
}
.menu ul li a::before{
height: 5px;
width: 10px;
position: absolute;
content: '';
left: 40%;
bottom: 0px;
background-color: #df8222;
}
ul,ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 1rem;
}
.hero-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 16rem;
}
.hero-offer {
  background-color: rgba(63, 17, 17, 0.506);
  width: 50%;
  padding-top: 3rem;
  padding-left: 4rem;
  position: relative;
  z-index: 1;
  color: aliceblue;
}
.hero-offer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  left: 10%;
  background-color: #c44a15;
  z-index: -1;
}
.hero-offer h2 {
}
.hero-offer p {
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 2rem;
  width: 60%;
  margin: 0 auto;
}
.socal-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-heading {
  color: aliceblue;
  line-height: 2.5rem;
  font-size: 2rem;
}
.hero-heading span {
  color: #c44a15;
}
.svg-inline--fa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  font-size: 1.4rem;
  color: black;
}
/* About Section */
.about-section {
  padding: 5rem 0; 
} 
.about-content {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.about-img img{
  /* height: 100px; */
  width: 100%;
  vertical-align: middle;
}
.about-text h4 {
  text-transform: uppercase;
  color: #474747;
  font-size: 15px;
    margin-left: 10px;
}
.about-text h1{
  position: relative;
}
.about-text h1::after{
position: absolute;
content: '';
height: 3px;
width: 20%;
top: -10px;
background-color: #df8222;
}
h2,h1,h3 {
  font-size: 25px;
  margin: 5px 10px ;
}
.about-text p {
  text-transform: capitalize;
  line-height: 1.4rem;
  font-size: 12px;
  margin: 10px 10px;
  color: #3e3e3e;
}

/* Survice Section */
.survice-section {
  padding: 5rem 0;
  background-color: rgba(70, 70, 70, 0.7);
}
.section-heading {
  text-align: center;
  line-height: 2.5rem;
  font-size: 20px;
  margin-bottom: 1rem;
}
.section-heading h2 {
  position: relative;
}

.section-heading p {
  font-size: 15px;
  font-weight: 300px;
  line-height: 1.4rem;
}

.survice-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2fr;
  text-align: center;
  line-height: 1.5rem;
  font-size: 15px;
  text-transform: capitalize;
}
.survice-content .survices img{
  width: 100%;
  margin-bottom: 20px;
}
.survice-content .survices h2{
  font-size: 15px;
  font-weight: 500px;
  margin-bottom: 8px;
}
.survice-content .survices p {
  font-size: 15px;
  font-weight: 300px;
  line-height: 1.4rem;
}
/*  Footer style */
.footer_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: start;
  line-height: 1.5rem;
  font-size: 15px;
  text-transform: capitalize;
}
footer {
  background-color: #3e3e3e;
}

.social_ad {
width: 100%;
background-color: #474747;
}
footer .social_ad img {
    width: 100%;
    height: 40%;
    max-width: 200px;
    margin: 0px 15px;
}
footer .social_ad p {
  margin: 5px 5px;
  line-height: 1.4rem;
}

.svg-inline--fa{
    overflow: hidden;
    box-sizing: content-box;
    display: inline;
    margin: 25px 15px;
    font-size: 1.4rem;
    color: white;
    transition: all 0.5s ease;
}
.svg-inline--fa:hover{
  cursor: pointer;
  color: #df8222;
}
.user_links {
background-color: #474747;
  width: 100%;
}
.user_links h2 , .Others h2 {
    font-weight: 600;
    margin: 30px 10px;
    padding-bottom: 15px !important;
    font-size: 30px;
}
.user_links ul li a , .Others p {
  color: black;
  margin-left: 10px;
  font-size: larger;
  cursor: pointer;
}
.Others {
background-color: #474747;
  color: white;
  width: 100%;
}
.Others input {
    font-weight: 300;
    font-size: 20px;
    outline: none;
    background-color: black;
    color: white;
    margin: 30px 10px;
}
.copy_right{
  background-color: #454545;
  height: 30px;
  text-align:left;
  padding: 8px 12px;
  font-size: 15px;
  font-weight: 400;
  color: white;
}
button {
  margin: 10px 10px;
  padding: 10px 15px;
  font-size: medium;
  border-radius: 10px;
  transition: all 2.15s ease;
  cursor: pointer;
}
button:hover {
  background-color: #c44a15;
  color:black;
  outline: none;
}
/* Responsive Media Queries Style start */
.hide {
  display: none;
}
@media only screen and (max-width: 768px) {
  .link-container {
    display: none;
  }
  .hero-section {
    height: 100%;
  }
  .hero-offer {
    width: 100%;
  }
  .hero-offer p {
    width: 100%;
  }
  .survice-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer_box {
    grid-template-columns: repeat(1, 1fr);
  }
  .social_ad {
    display: none;
  }
}